body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

* {
    box-sizing: border-box;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
    transform: translateY(20%);
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}





/* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
} */










.h3, h3 {
	font-size: 1.75rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: .7rem;
	font-family: inherit;
	font-weight: 800;
	line-height: 1.7;
	color: #343a40;
}


input,
button {
    background: none;
    border: none;
    color: #111;
}






.boxmodel-services {
   
    display: inline-block;
    box-shadow: 0 3px 8px rgb(0 0 0 / 7%), 0 0px 9px rgb(0 0 0 / 1%);
    transition: 0.3s cubic-bezier(.74 ,-0.03,.83,.67);
    position: relative;
    margin: 166px 20px 20px 20px;
    padding: 19px;
    box-sizing: border-box;
    min-height: 340px;
    height: auto;
    transition-duration: 0.5s;
    border-radius: 30px;


}

.boxmodel-services > .image-continer {
    float: right;
    position: absolute;
    display: block;
    height: auto;
    right: 0;
    width: 34%;
    min-height: 100%;
    height: auto;
    max-width: 100%;       /* for full screen */ 
    cursor: pointer;
    transition: 0.7s cubic-bezier(.74 ,-0.03,.83,.67);  
}
.boxmodel-services > .image-continer-right {
    float: left;
    position: absolute;
    display: block;
    height: auto;
    left: 0;
    width: 34%;
    min-height: 100%;
    height: auto;
    max-width: 100%;       /* for full screen */ 
    cursor: pointer;
    transition: 0.7s cubic-bezier(.74 ,-0.03,.83,.67);  
}

.boxmodel-services .image-continer:hover ,.boxmodel-services .image-continer-right:hover {
    transform: rotate(10deg);
}




.boxmodel-services > div {
   
    
    transition: 0.6s cubic-bezier(.74 ,-0.03,.83,.67);      
    height: 20%;
    max-height: 100%;
    max-width:50%;
    width: 100%;
    padding: 20px;



}


.boxmodel-services .image-content >p ,.boxmodel-services .image-content-right  > p {
    
    
    transition: 0.3s cubic-bezier(.74 ,-0.03,.83,.67);   
    color: #bbb;
    font-size: 1.125rem;
    font-family:  sans-serif;
    line-height: 30px;
    word-spacing: normal;
    white-space: normal;


}
.boxmodel-services .image-content{
    
}
 .image-content-right {
   
float: right;
right: 0;
    
   
}
.boxmodel-services .image-content h1 {
    
    text-align: left;
    font-size: 1.5em;
    color: black;
    
    

}
.boxmodel-services .image-content-right h1 {
    
    text-align: right;
    font-size: 1.5em;
    color: black;
    
    

}



.boxmodel-services .image-content button, .boxmodel-services .image-content-right button {
    
   
    border: .0625rem solid transparent;
    background-color: orangered;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;

}

.view-service-btn , .view-service-btn-right {
    
    transition: 0.3s cubic-bezier(.74 ,-0.03,.83,.67);   
    margin-top: 20px;
    width: 30%;
    
    min-width:50%;
    padding: 15px;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    font-family: Nunito,sans-serif;
}
 .image-content button:hover ,.image-content-right button:hover{
    text-shadow: #111;
    background-color: #6016c2;
    transform: translateY(-10%);
}